header{
    padding: 40px 0;
    background-color: aqua;
}

.paragraph{
    display: flex;
    font-size: medium;
}
p{
    font-size: large;
}


#w1:hover{
    color: blueviolet;

}

#w2:hover{
    color: rgb(194, 21, 128);
}

#w3:hover{
    color: brown;
}

#w4:hover{

    color: rgb(203, 121, 19);

}

#w5:hover{

    color: rgb(165, 0, 116);

}


